.background {
  background: #d8d1d1;
  max-height: 550px;
  max-width: 2000px;
  border: 1px solid rgb(94, 14, 14);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: auto;
}


.quad2 {
  display: inline-block;
  max-height: 200px;
  max-width: 250px;
  border: 3px groove rgb(56, 53, 53);
  padding: 20px 1px 1px 30px;
  margin: 10px 10px 10px 10px;
  border-radius: 30px;
  text-align: left;
  background: rgba(190, 169, 125, 0.932);
  box-shadow: inset 1px 1px 5px;
}